.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
  }
  
  .logo img {
    height: 40px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
  }
  
  nav ul li a.active {
    color: blue;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    height: 20px;
    cursor: pointer;
  }
  
  .user-icon {
    height: 35px;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  /* test */